body {
}

/*.section-one h1, h3 {
	font-style: bold;
	background-color: none;
	color: black;
	position: float;
	text-align: center;
	top: 150px;
	bottom:90px;
	left: 200px;
	padding:10px;
	background-color: #232323;
}
*/
.section-one {
	width: 100%;
	position: relative;
	/*overflow: hidden;*/
}

#home {
	background: url("../img/home.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 800px;
}

#home article {
  height: 100%;
  position: absolute;
  text-align: center;
  top: 23%;
  width: 100%;
  color: white;
}

#home h1 {
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: 'Quicksand', helvetica;
	font-size: 3em;
}

#home h2 {
	font-family: 'Quicksand', helvetica;
}

#about {
	background: url("../img/about.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 800px;
}

#about article {
  height: 27%;
  border-radius: 4px;
  position: absolute;
  text-align: justify;
  top: 30%;
  width: 46%;
  padding: 3% 3%;
  margin: 0 22%;
  color: white;
  background: rgba(204,204,204, 0.3);
}

#blog {
	background: url("../img/blog.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 800px;
}

#contact {
	background: url("../img/contact.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 800px;
}