.section-one {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	font-family: 'Quicksand', helvetica;
	width: 90%;
	max-width: 1000px;
	height: 800px;
	max-height: 800px;
	margin-left: auto;
	margin-right: auto;
}

body#project-page {
	background: #24478F;
}

.container h1 {
	color: white;
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 2%;
}

.container p, h2 {
	color: blue;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 1%;
}

.container h3 {
	text-align: center;
	color: white;
	font-size: 22px;
	line-height: 30px;
}


/**********  HOME PORTION  **********/


#home {
	background: url("../img/home.jpg") fixed center;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 800px;
	font-family: 'Quicksand', helvetica;
}

#header {
  height: 100%;
  position: absolute;
  text-align: center;
  top: 15%;
  width: 100%;
  color: white;
}

#header h1 {
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 3em;
}

#header h2 {
	margin-bottom: 40px;
}

#title {
	color: white;
}

#header a {
	text-decoration: none;
	color: white;
	transition: 0.65s ease;
}

#header a:hover {
	color: magenta;
	transition: 0.65s ease;
}


/**********  PROJECTS PORTION  **********/


#all-projects {
	background: url("../img/about.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 800px;
}

#all-projects article {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0);
}

#all-projects ul {
	list-style: none;
	max-width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	text-align: center;
}

#all-projects a {
	text-decoration: none;
}

.proj {
	display: inline-block;
	width: 300px;
	height: 270px;
	margin: 25px auto;
	margin-right: 20px;
	position: relative;
}

.proj:nth-child(3), .proj:nth-child(4) {
	margin-right: 0;
}

a.image {
	display: block;
	height: 200px;
	transition: 0.5s ease;
}

a.image:hover + a.info {
	background: rgba(255, 0, 255, 0.2);
	transition: 0.5s ease;
}

a.info {
	text-decoration: none;
	display:block;
	width: 300px;
	padding: 4px 0 10px 0;
	background: rgba(100, 100, 100, 0.4);
	transition: 0.5s ease;
	color: white;
}

a.info:hover {
	background: rgba(255, 0, 255, 0.2);
	transition: 0.5s ease;
}

a.info span {
	margin-top:0;
	padding-top: 8px;
	display: block;
}


/**********  CONTACT ME PORTION  **********/


#contact {
	background: url("../img/contact.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 650px;
}

#contact article {
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#contact.container {
	color: white;
}

#contact ul {
	margin-top: 50px;
	list-style: none;
	text-align: center;
	padding: 0;
}

.contact-me {
	display: inline-block;
	position: relative;
	margin: 0 10px;
}

a.contact-image {
	border-radius: 2px;
	display: block;
	width: 64px;
	height: 64px;
	background: rgba(100, 100, 100, 0.4);
	transition: 0.5s ease;
}

a.contact-image:hover {
	background: rgba(255, 0, 255, 0.2);
	transition: 0.5s ease;
}

.container h2 {
	margin-top: 40px;
}

#footer {
	width: 100%;
	padding: 0;
	margin-top: 200px;
	text-align: center;
}

#footer a {
	text-decoration: none;
}

#footer h3 {
	font-size: 20px;
}

#footer a h3 {
	color: white;
	transition: 0.65s ease;
}

#footer a h3:hover {
	color: magenta;
	transition: 0.65s ease;
}


/**********  PROJECT PAGES  **********/


img {
	max-width: 100%;
}

#project-page-image {
	display: block;
	margin: 50px auto 25px auto;
	backgroud-size: contain;
	text-align: center;
}

#description , #back, #technology, #download {
	font-family: 'Quicksand', helvetica;
	width: 95%;
	max-width: 600px;
	margin: 50px auto;
}


#description p {
	text-align: justify;
	color: white;
}

#description a, #back a, #download a {
 	color: cyan;
	font-size: 30px;
	margin: 30px auto 0 auto;
	/*display: block;*/
	/*text-align: center;*/
	text-decoration: none;
	transition: 0.65s ease;
}

#download a {
	font-size: 20px;
}

#back a {
	font-size: 20px;
	margin: 20px auto;
	padding-bottom: 50px;
}

#description a:hover, #back a:hover, #download a:hover {
	color: magenta;
	transition: 0.65s ease;
}

#technology {
	width: 100%;
	color: #FF8533;
	margin: 25px 0;
}

em {
	font-style: normal;
	color: gold;
}