body {
}

/*.section-one h1, h3 {
	font-style: bold;
	background-color: none;
	color: black;
	position: float;
	text-align: center;
	top: 150px;
	bottom:90px;
	left: 200px;
	padding:10px;
	background-color: #232323;
}
*/
.section-one {
	width: 100%;
	position: relative;
	overflow: hidden;
}

#home {
	background: url("../img/home.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 1080px;
}

#home article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}

#about {
	background: url("../img/about.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 1080px;
}

#blog {
	background: url("../img/blog.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 1080px;
}

#contact {
	background: url("../img/contact.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 1080px;
}